<div class="container mt-5">
    <div class="row">
      <div class="col-lg-8 offset-lg-2"></div>
      <div class="card">
        <div class="card-body">
          <h3 class="titulo">Productos</h3>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <h5 class="titulo">{{accion | uppercase }} PRODUCTO</h5>

            <form [formGroup]="form" (ngSubmit)="guardarProducto()">
              <div class="input-group input-group-lg mb-3">
                <span class="input-group-text">
                  <i class="fa-solid fa-key"
                  [class.green-icon]="this.form.get('id')?.valid"
                  [class.red-icon]="this.form.get('id')?.invalid && this.form.get('id')?.touched">
                  </i>
                </span>
                <input formControlName="id" type="number" class="form-control" placeholder="ID"/>
              </div>
              <div class="input-group input-group-lg mb-3">
                <span class="input-group-text">
                  <i class="fa-brands fa-product-hunt"
                  [class.green-icon]="this.form.get('nombre')?.valid"
                  [class.red-icon]="this.form.get('nombre')?.invalid && this.form.get('nombre')?.touched"></i>
                </span>
                <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre"/>
              </div>
              <div class="input-group input-group-lg mb-3">
                <span class="input-group-text">
                  <i class="fa-solid fa-circle-info"
                  [class.green-icon]="this.form.get('descripcion')?.valid"
                  [class.red-icon]="this.form.get('descripcion')?.invalid && this.form.get('descripcion')?.touched"></i>
                </span>
                <input formControlName="descripcion" type="text" class="form-control" placeholder="Descripcion" />
              </div>

              <div class="row">
                <div class="col-lg-7">
                  <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text">
                      <i class="fa-solid fa-dollar-sign"
                      [class.green-icon]="this.form.get('precio')?.valid"
                      [class.red-icon]="this.form.get('precio')?.invalid && this.form.get('precio')?.touched"></i>
                    </span>
                    <input formControlName="precio" type="number" class="form-control" placeholder="Precio" />
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text">
                      <i class="fa-solid fa-arrow-up-wide-short"
                      [class.green-icon]="this.form.get('cantidad')?.valid"
                      [class.red-icon]="this.form.get('cantidad')?.invalid && this.form.get('cantidad')?.touched"></i>
                    </span>
                    <input formControlName="cantidad" type="number" class="form-control" placeholder="Cantidad" />
                  </div>
                </div>
              </div>
              <div class="input-group input-group-lg mb-3">
                <span class="input-group-text">
                  <i class="fa-solid fa-calendar-check"
                  [class.green-icon]="this.form.get('creado_en')?.valid"
                  [class.red-icon]="this.form.get('creado_en')?.invalid && this.form.get('creado_en')?.touched"></i>
                </span>
                <input formControlName="creado_en" type="datetime" class="form-control" placeholder="Creado en"/>
              </div>
              <div class="d-grid gap-2">
                <button [disabled]="this.form.invalid" type="submit" class="btn btn-success btn-lg">
                  <i class="fa-solid fa-database"></i>&nbsp; Aceptar</button>
              </div>
              </form>
          </div>
        </div>
      </div>
      <div class="col lg-8 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="titulo">LISTADO DE PRODUCTOS</h5>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Descripcion</th>
                  <th scope="col">Precio ($)</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Creado en</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let producto of listProductos; let i = index">
                  <td>{{producto.id}}</td>
                  <td>{{producto.nombre}}</td>
                  <td>{{producto.descripcion}}</td>
                  <td>{{producto.precio}}</td>
                  <td>{{producto.cantidad}}</td>
                  <td>{{producto.creado_en}}</td>
                  <td><i (click)="updateProducto(producto)" class="fa-regular fa-pen-to-square text-info"></i></td>
                  <td><i (click)="eliminarProducto(i)" class="fa-regular fa-square-minus text-danger"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
